svg {
    width: 20px;
    right: 10px;
    border-radius: 0px;

}

button {
    border-radius: 100px;
    margin: 10px;
    padding: 20px;
    border: none;
    position: relative;
    background-color: darkgrey;
}

div span {
    position: absolute;
    padding: 5px;
    margin-top: -15px;
    background-color: red;
    border-radius: 100px;
    color: white;
}
.seta svg:first-child {
    position:absolute;
    width: 10px;
bottom: 0;
right: 0;
border-radius: 10px;
background-color:red;
padding: 5px;
fill:white;
}